{% extends 'base.html' %}
{% block content %}
<section id='about-section'>
    <section id= "who-are-we">
        <h1>About Us</h1>
        <p>
            We are a Georgia-Based company just outside of Atlanta. 
            Plant Therapy is a plant nursery that sells plants online 
            but also holds workshops in person to teach new plant owners 
            all about raising and taking care of plants. View our plant 
            collection online or stop in to join a workshop, shop for 
            supplies, or ask us a question—or several! We're here for
             all of your growing needs. 
        </p>
    </section>

    <!-- columns -->
    <section id = "coloumns"> 
        <div class = "column" id= "benefits">
          <h2> Benefits of House Plants</h2>
          <ul>
            <li>Improves your mood and sleep</li>
            <li>Reducing fatigue</li> 
            <li>Reduces allergens and sound pollution</li>
            <li>Lowering stress and anxiety</li>
            <li>Improves performance and focus</li>  
            <li>Boosts healing and pain tolerance</li> 
            <li>Improves air quality</li>
            <li>Increases moisture in the air</li>
          </ul>
        </div>
        <div class = "column" id= "top-houseplants">
          <h2>Top House Plants</h2>
          <ul>
        
            <li>Peace Lily</li>
            <li>Pothos</li>
            <li>Snake Plant</li>
            <li>African Violet</li>
            <li>ZZ Plant</li>
            <li>Cast iron plant</li>
            <li>Monstera</li>
            <li>Bonsai</li>
            <li>Fiddle Leaf Fig</li>
          </ul>
    
        </div>
        <div class = "column" id= "plant-care">
          <h2>How to Care For Your Plants</h2>
          <ul>
          <li>Do some research about your plants</li>
          <li>Make sure your houseplants get appropriate light</li>
          <li>Maintain a regular watering and fertilizing schedule.</li>
          <li>Check your plants regularly for signs of pests. </li>
          <li>Clean and dust your leaves for healthier plants</li>
          <li>Know your plants and if they're pet safe.</li>
          <li>Trim any dead or dying leaves</li>
          </ul> 
        </div>
      </section>
</section>
{% endblock content %}