{% extends 'base.html' %}
{% block content %}


<main>
    <section id="content">
        <h1>My Plants</h1>

        <a href="/create" class="nav">+ New Plant</a>
        
        <section id="items">
        {% for plant in plants %}
        <div class="card">
            <a href={{plant.plant_id}}><img src={{plant.photo_url}}></a>
            <div class="card-content">
                <a href={{plant.plant_id}}>{{plant.name}}</a>
            </div>
        </div>
        {% endfor %}  
        </section>
    </section>

</main>

{% endblock content %}